.ReactionButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.ReactionButton {
  width: 96px;
  height: 20px;
  background: #FFFFFF;
  border: 0.8px solid #E7E7E7;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.ReactionButton:hover{
  background: #F6F6F6;
  border-color:#F6F6F6;
}

.ReactionButtonIcon {
  margin-right: 4px;
  width: 11px;
  height: 11px;
}

.ReactionButtonLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #1B1B1B;
}
